{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
